
Manual-Console-Application/Manual-Console-Application/obj/Debug/client_secret_240159371726-oe38ki8v2ffedg01chkognhvdqt4fnts.apps.googleusercontent.com.json
Manual-Console-Application/Manual-Console-Application/bin/Debug/UserCredentialStoragePath/client_secret_240159371726-koqlnoj44uhvcfu3k8e48o6926r4sqju.apps.googleusercontent.com.json
Refference file/client_secret_240159371726-koqlnoj44uhvcfu3k8e48o6926r4sqju.apps.googleusercontent.com.json
